body {
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
	font-size: 14px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.index-area {
	width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
}
.index-area .content {
	width: 100%;
	position: absolute;
	top: 100px;
}
.index-area .content img {
	width: 100px;
}
.index-area .content h1 {
	font-size: 60px;
}
.index-area .content h2 {
	font-size: 20px;
}

#section_intro h1 {
    position: relative;
    top: 20px;
    left: 100px;
    color: red;
}
